<a href="https://colab.research.google.com/github/KomalKhalane25/Pandas/blob/main/Concat_Merge_Join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#concat

'komal'+'khalane'

'komalkhalane'

In [5]:
import numpy as np
import pandas as pd
one = pd.DataFrame({'Name':['komal','Rahul','Rani','Om'],
                    'sub_Id':['sub1','sub2','sub3','sub4'],
                    'marks':[95,75,86,94]},index = [1,2,3,4])
two = pd.DataFrame({'Name':['Minal','Prajol','Rani','Omkar'],
                    'sub_Id':['sub6','sub5','sub3','sub4'],
                    'marks':[90,65,80,84]},index = [1,2,3,4])

In [13]:
print(one)
print('***********************')
print(two)

    Name sub_Id  marks
1  komal   sub1     95
2  Rahul   sub2     75
3   Rani   sub3     86
4     Om   sub4     94
***********************
     Name sub_Id  marks
1   Minal   sub6     90
2  Prajol   sub5     65
3    Rani   sub3     80
4   Omkar   sub4     84

In [14]:
pd.concat([one,two])

     Name sub_Id  marks
1   komal   sub1     95
2   Rahul   sub2     75
3    Rani   sub3     86
4      Om   sub4     94
1   Minal   sub6     90
2  Prajol   sub5     65
3    Rani   sub3     80
4   Omkar   sub4     84

In [15]:
one = pd.DataFrame({'Name':['komal','Rahul','Rani','Om'],
                    'sub_Id':['sub1','sub2','sub3','sub4'],
                    'marks1':[95,75,86,94]},index = [1,2,3,4])
two = pd.DataFrame({'Name':['Minal','Prajol','Rani','Omkar'],
                    'sub_Id':['sub6','sub5','sub3','sub4'],
                    'marks2':[90,65,80,84]},index = [1,2,3,4])

In [16]:
pd.concat([one,two])

     Name sub_Id  marks1  marks2
1   komal   sub1    95.0     NaN
2   Rahul   sub2    75.0     NaN
3    Rani   sub3    86.0     NaN
4      Om   sub4    94.0     NaN
1   Minal   sub6     NaN    90.0
2  Prajol   sub5     NaN    65.0
3    Rani   sub3     NaN    80.0
4   Omkar   sub4     NaN    84.0

In [17]:
pd.concat([one,two],ignore_index=True)

     Name sub_Id  marks1  marks2
0   komal   sub1    95.0     NaN
1   Rahul   sub2    75.0     NaN
2    Rani   sub3    86.0     NaN
3      Om   sub4    94.0     NaN
4   Minal   sub6     NaN    90.0
5  Prajol   sub5     NaN    65.0
6    Rani   sub3     NaN    80.0
7   Omkar   sub4     NaN    84.0

In [18]:
pd.concat([one,two],keys=['one','two'])

         Name sub_Id  marks1  marks2
one 1   komal   sub1    95.0     NaN
    2   Rahul   sub2    75.0     NaN
    3    Rani   sub3    86.0     NaN
    4      Om   sub4    94.0     NaN
two 1   Minal   sub6     NaN    90.0
    2  Prajol   sub5     NaN    65.0
    3    Rani   sub3     NaN    80.0
    4   Omkar   sub4     NaN    84.0

In [19]:
pd.concat([one,two],axis=1)

    Name sub_Id  marks1    Name sub_Id  marks2
1  komal   sub1      95   Minal   sub6      90
2  Rahul   sub2      75  Prajol   sub5      65
3   Rani   sub3      86    Rani   sub3      80
4     Om   sub4      94   Omkar   sub4      84

In [22]:
one = pd.DataFrame({'Name':['komal','Rahul','Rani','Om'],
                    'sub_Id':['sub1','sub2','sub3','sub4'],
                    'marks1':[95,75,86,94]},index = [1,2,3,4])
two = pd.DataFrame({'Name':['Minal','Prajol','Rani','Omkar'],
                    'sub_Id':['sub6','sub5','sub3','sub4'],
                    'marks2':[90,65,80,84]},index = [1,2,33,44])

In [23]:
pd.concat([one,two],axis=1)

     Name sub_Id  marks1    Name sub_Id  marks2
1   komal   sub1    95.0   Minal   sub6    90.0
2   Rahul   sub2    75.0  Prajol   sub5    65.0
3    Rani   sub3    86.0     NaN    NaN     NaN
4      Om   sub4    94.0     NaN    NaN     NaN
33    NaN    NaN     NaN    Rani   sub3    80.0
44    NaN    NaN     NaN   Omkar   sub4    84.0

In [45]:
#merge()

df1 = pd.DataFrame({'Id':[1,2,3,4],
                    'Name':['komal','Rahul','Rani','Om'],
                    'sub_Id':['sub1','sub2','sub3','sub4']
                    })
df2 = pd.DataFrame({ 'Id':[1,2,3,4],
                    'Name':['Minal','Prajol','Rani','Omkar'],
                    'sub_Id':['sub6','sub5','sub3','sub4'],
                    })
df3 = pd.DataFrame({ 'Id':[1,2,33,44],
                    'Name':['Minal','Raj','Rani','Omkar'],
                    'sub_Id':['sub1','sub2','sub3','sub4'],
                    })

print(df1)
print('***********************')
print(df2)
print('***********************')
print(df3)

   Id   Name sub_Id
0   1  komal   sub1
1   2  Rahul   sub2
2   3   Rani   sub3
3   4     Om   sub4
***********************
   Id    Name sub_Id
0   1   Minal   sub6
1   2  Prajol   sub5
2   3    Rani   sub3
3   4   Omkar   sub4
***********************
   Id   Name sub_Id
0   1  Minal   sub1
1   2    Raj   sub2
2  33   Rani   sub3
3  44  Omkar   sub4

In [46]:
pd.merge(df1,df3,on='Id',how='inner')

   Id Name_x sub_Id_x Name_y sub_Id_y
0   1  komal     sub1  Minal     sub1
1   2  Rahul     sub2    Raj     sub2

In [47]:
pd.merge(df1,df3,on='Id',how='left')

   Id Name_x sub_Id_x Name_y sub_Id_y
0   1  komal     sub1  Minal     sub1
1   2  Rahul     sub2    Raj     sub2
2   3   Rani     sub3    NaN      NaN
3   4     Om     sub4    NaN      NaN

In [48]:
pd.merge(df1,df3,on='Id',how='right')

   Id Name_x sub_Id_x Name_y sub_Id_y
0   1  komal     sub1  Minal     sub1
1   2  Rahul     sub2    Raj     sub2
2  33    NaN      NaN   Rani     sub3
3  44    NaN      NaN  Omkar     sub4

In [49]:
pd.merge(df1,df3,on='Id',how='outer')

   Id Name_x sub_Id_x Name_y sub_Id_y
0   1  komal     sub1  Minal     sub1
1   2  Rahul     sub2    Raj     sub2
2   3   Rani     sub3    NaN      NaN
3   4     Om     sub4    NaN      NaN
4  33    NaN      NaN   Rani     sub3
5  44    NaN      NaN  Omkar     sub4

In [50]:
print(df1)
print('***********************')
print(df3)
pd.merge(df1,df3,on=['Id','sub_Id'])

   Id   Name sub_Id
0   1  komal   sub1
1   2  Rahul   sub2
2   3   Rani   sub3
3   4     Om   sub4
***********************
   Id   Name sub_Id
0   1  Minal   sub1
1   2    Raj   sub2
2  33   Rani   sub3
3  44  Omkar   sub4

   Id Name_x sub_Id Name_y
0   1  komal   sub1  Minal
1   2  Rahul   sub2    Raj

In [57]:
#join

lst = ['My','Name','Is','Komal']
lst = ' '.join(lst)
print(lst)

My Name Is Komal

In [60]:
x = pd.DataFrame({'A':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3']},
                  index=['K0','K1','K2','K3'])
y = pd.DataFrame({'C':['C0','C1','C2','C3'],
                  'D':['D0','D1','D2','D3']},
                  index=['K0','K1','K2','K3'])

print(x)
print('*************')
print(y)
x.join(y)  #by default it is left join

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B3
*************
     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2
K3  C3  D3

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

In [62]:
print(x)
print('*************')
print(y)
x.join(y,how ='right')

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B3
*************
     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2
K3  C3  D3

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

In [63]:
print(x)
print('*************')
print(y)
x.join(y,how ='outer')

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B3
*************
     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2
K3  C3  D3

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3