<a href="https://colab.research.google.com/github/KomalKhalane25/Pandas/blob/main/file_handling_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# csv = comma seprated valuse
#excel file
#text file with predefined delimiter
#json file format
#xml file format

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_csv = pd.read_csv('/content/emp.csv')
df_csv

   eid   name  salary location
0    1   Amit   12000       CA
1    2  Allen   15000       NY
2    3  Kathy   18000       CA

In [6]:
output_df= df_csv.groupby('location').count()
output_df

          eid  name  salary
location
CA          2     2       2
NY          1     1       1

In [8]:
output_df.to_csv('/content/output_df.csv')

In [9]:
df_text = pd.read_csv('/content/TestFile.txt',delimiter='|')
df_text

    a   b   c   d
0   0   1  23  11
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
df_text.to_csv('/content/output.txt.text',sep='*')

In [16]:
df_excel = pd.read_excel('/content/Test.xlsx',sheet_name='Sheet1',index_col='Unnamed: 0')
df_excel

    a   b   c  Unnamed: 4
0   0   1   2           3
1   4   5   6           7
2   8   9  10          11
3  12  13  14          15

In [17]:
df_excel.rename(columns={'a':'eid','b':'ename','c':'location','Unnamed: 4':'salary'},inplace=True)
df_excel

   eid  ename  location  salary
0    0      1         2       3
1    4      5         6       7
2    8      9        10      11
3   12     13        14      15

In [18]:
df_excel.to_excel('/content/output.excel.xlsx',sheet_name='komal')

In [20]:
#drop dublicates()
df= pd.DataFrame({'col1':[1,2,3,4,5,1],
               'col2':[555,444,666,444,222,555],
               'col3':['abc','xyz','def','ghi','jkl','abc']})
df

   col1  col2 col3
0     1   555  abc
1     2   444  xyz
2     3   666  def
3     4   444  ghi
4     5   222  jkl
5     1   555  abc

In [24]:
df.drop_duplicates(inplace=True)
df

   col1  col2 col3
0     1   555  abc
1     2   444  xyz
2     3   666  def
3     4   444  ghi
4     5   222  jkl

In [25]:
df

   col1  col2 col3
0     1   555  abc
1     2   444  xyz
2     3   666  def
3     4   444  ghi
4     5   222  jkl