<a href="https://colab.research.google.com/github/KomalKhalane25/Pandas/blob/main/Pandas_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Company':['A','A','B','B','C','C'],
        'Person':['komal','ram','Rahul','Shiv','Rohan','Rani'],
        'Sales':[520,404,889,506,632,756]}
df = pd.DataFrame(data)
df

  Company Person  Sales
0       A  komal    520
1       A    ram    404
2       B  Rahul    889
3       B   Shiv    506
4       C  Rohan    632
5       C   Rani    756

In [3]:
#head and tail
df.head()

  Company Person  Sales
0       A  komal    520
1       A    ram    404
2       B  Rahul    889
3       B   Shiv    506
4       C  Rohan    632

In [4]:
df.tail()

  Company Person  Sales
1       A    ram    404
2       B  Rahul    889
3       B   Shiv    506
4       C  Rohan    632
5       C   Rani    756

In [5]:
df.head(2)

  Company Person  Sales
0       A  komal    520
1       A    ram    404

In [6]:
df.tail(2)

  Company Person  Sales
4       C  Rohan    632
5       C   Rani    756

In [9]:
df= pd.DataFrame({'col1':[1,2,3,4,5],
                  'col2':[42,56,56,35,78],
                  'cole3':['abc','efg','onp','dfg','dgd']})

In [10]:
df

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd

In [11]:
#unique() and nunique()
df['col2'].unique()

array([42, 56, 35, 78])

In [12]:
df['col2'].nunique()

4

In [15]:
#value counts() is very imortan function used widely.

df['col2'].value_counts()
df

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd

In [14]:
#conditions
df['col2'] == 56

0    False
1     True
2     True
3    False
4    False
Name: col2, dtype: bool

In [17]:
#multiple conditions using &,|

10==10 and 14==11

False

In [20]:
print(df)
print('********')
(df['col1']>1) & (df['col2']==56)

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd
********

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [22]:
print(df)
print('********')
(df['col1']>2) | (df['col2']==56)

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd
********

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [23]:
def times2(x):
  return 2*x

In [24]:
times2(10)

20

In [25]:
times2(3)

6

In [27]:
df['col2'].apply(times2)

0     84
1    112
2    112
3     70
4    156
Name: col2, dtype: int64

In [28]:
df['cole3'].apply(len)

0    3
1    3
2    3
3    3
4    3
Name: cole3, dtype: int64

In [29]:
df

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd

In [30]:
df.drop(3)

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
4     5    78   dgd

In [36]:
df

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd

In [40]:
df.drop('col2',axis=1)

   col1 cole3
0     1   abc
1     2   efg
2     3   onp
3     4   dfg
4     5   dgd

In [41]:
df

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd

In [43]:
del df['cole3']

In [48]:
df

   col1  col2
0     1    42
1     2    56
2     3    56
3     4    35
4     5    78

In [50]:
#colunms and Index
df.columns

Index(['col1', 'col2'], dtype='object')

In [51]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [57]:
#isnull and sort_values()

df= pd.DataFrame({'col1':[1,2,3,4,5],
                  'col2':[42,56,56,35,78],
                  'cole3':['abc','efg','onp','dfg','dgd']})
df

   col1  col2 cole3
0     1    42   abc
1     2    56   efg
2     3    56   onp
3     4    35   dfg
4     5    78   dgd

In [56]:
df.sort_values('col2') #by default assending

   col1  col2 cole3
3     4    35   dfg
0     1    42   abc
1     2    56   efg
2     3    56   onp
4     5    78   dgd

In [58]:
df.sort_values('col2',ascending=False)

   col1  col2 cole3
4     5    78   dgd
2     3    56   onp
1     2    56   efg
0     1    42   abc
3     4    35   dfg

In [59]:
#isnull()
df = pd.DataFrame({'col1':[1,2,3,4,5],
                  'col2':[42,56,np.nan,35,78],
                  'cole3':['abc','efg','onp','dfg','dgd']})
df

   col1  col2 cole3
0     1  42.0   abc
1     2  56.0   efg
2     3   NaN   onp
3     4  35.0   dfg
4     5  78.0   dgd

In [60]:
df.isnull()

    col1   col2  cole3
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False  False
4  False  False  False