<a href="https://colab.research.google.com/github/KomalKhalane25/Pandas/blob/main/Pandas_nan_Values_and_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,np.nan],
                   'B':[5,np.nan,np.nan],
                   'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [3]:
#dropna() and fillna()
df.dropna()

     A    B  C
0  1.0  5.0  1

In [4]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [6]:
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [10]:
df.dropna(axis=1,inplace=True)

In [11]:
df

   C
0  1
1  2
2  3

In [12]:
#fillna()
df = pd.DataFrame({'A':[1,2,np.nan],
                   'B':[5,np.nan,np.nan],
                   'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [13]:
df.fillna(value=4.5)

     A    B  C
0  1.0  5.0  1
1  2.0  4.5  2
2  4.5  4.5  3

In [16]:
df.fillna(value='komal')

       A      B  C
0    1.0    5.0  1
1    2.0  komal  2
2  komal  komal  3

In [22]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

In [23]:
df['A'].mean()

np.float64(1.5)

In [25]:
df['A'].fillna(value = df['A'].mean(),inplace=True)

/tmp/ipython-input-1728427303.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(value = df['A'].mean(),inplace=True)

In [26]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

/tmp/ipython-input-3392510159.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['B'].fillna(value = df['A'].mean(),inplace=True)

In [28]:
df = pd.DataFrame({'A':[1,2,np.nan],
                   'B':[5,np.nan,np.nan],
                   'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [31]:
df['A'].fillna(value =df['A'].sum())

0    1.0
1    2.0
2    3.0
Name: A, dtype: float64

In [32]:
#groupby
df = pd.DataFrame({'Company':['GOOG','GOOG','MSFT','MSFT','FB'],
                   'Person':['Sam','Charlie','Amy','Vanessa','komal',],
                   'Salary':[50000,850000,70000,95120,956210,]})
df

  Company   Person  Salary
0    GOOG      Sam   50000
1    GOOG  Charlie  850000
2    MSFT      Amy   70000
3    MSFT  Vanessa   95120
4      FB    komal  956210

In [33]:
#select count(*) from emp group by company
df.groupby('Company').count()

         Person  Salary
Company
FB            1       1
GOOG          2       2
MSFT          2       2

In [35]:
df.groupby('Company').mean('Salary')

           Salary
Company
FB       956210.0
GOOG     450000.0
MSFT      82560.0

In [37]:
df.groupby('Company').describe()

        Salary                                                         \
         count      mean            std       min       25%       50%
Company
FB         1.0  956210.0            NaN  956210.0  956210.0  956210.0
GOOG       2.0  450000.0  565685.424949   50000.0  250000.0  450000.0
MSFT       2.0   82560.0   17762.522343   70000.0   76280.0   82560.0


              75%       max
Company
FB       956210.0  956210.0
GOOG     650000.0  850000.0
MSFT      88840.0   95120.0

In [40]:
df.groupby('Company').describe().transpose()

Company             FB           GOOG          MSFT
Salary count       1.0       2.000000      2.000000
       mean   956210.0  450000.000000  82560.000000
       std         NaN  565685.424949  17762.522343
       min    956210.0   50000.000000  70000.000000
       25%    956210.0  250000.000000  76280.000000
       50%    956210.0  450000.000000  82560.000000
       75%    956210.0  650000.000000  88840.000000
       max    956210.0  850000.000000  95120.000000