<a href="https://colab.research.google.com/github/KomalKhalane25/Pandas/blob/main/Series_and_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arr = np.array([1,2,3,4])
print(arr)

[1 2 3 4]

In [ ]:
ser = pd.Series(arr)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
ser[1]

np.int64(2)

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['India','USA','Germany','Japan'])
print(ser1)

India      1
USA        2
Germany    3
Japan      4
dtype: int64

In [ ]:
ser1['India']

np.int64(1)

In [ ]:
ser2 = pd.Series(arr,index = ['a','b','c','d'])
print(ser2)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
ser3 = pd.Series({'a':1.5,'b':'komal',})
print(ser3)

a      1.5
b    komal
dtype: object

In [ ]:
ser3[0]

/tmp/ipython-input-3083429366.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser3[0]

1.5

In [ ]:
ser1 = pd.Series([10,20,30],index=[1,2,3])
ser2 = pd.Series([20,40,60],index=[1,3,2])
print(ser1+ser2)

1    30
2    80
3    70
dtype: int64

In [ ]:
ser1 = pd.Series([10,20,30],index=[1,2,3])
ser2 = pd.Series([20,40,60,50],index=[1,3,2,4])
print(ser1+ser2)

1    30.0
2    80.0
3    70.0
4     NaN
dtype: float64

In [ ]:
ser1 = pd.Series([10,20,30,50],index=[0,1,2,3])
ser2 = pd.Series([20,40,60],index=[1,3,2])
print(ser1+ser2)

0     NaN
1    40.0
2    90.0
3    90.0
dtype: float64

In [ ]:
print(ser1-ser2)

0     NaN
1     0.0
2   -30.0
3    10.0
dtype: float64

In [ ]:
print(ser1*ser2)

0       NaN
1     400.0
2    1800.0
3    2000.0
dtype: float64

In [ ]:
#DataFrame

In [ ]:
df = pd.DataFrame({'Math':[95,85,89],
                   'Phisics':[88,99,98],
                   'Biology':[79,85,86]})
print(df)

   Math  Phisics  Biology
0    95       88       79
1    85       99       85
2    89       98       86

In [ ]:
df['Biology']

0    79
1    85
2    86
Name: Biology, dtype: int64

In [ ]:
df[['Math','Biology']]

   Math  Biology
0    95       79
1    85       85
2    89       86

In [ ]:
#How to apply condition in datafram
df>90

    Math  Phisics  Biology
0   True    False    False
1  False     True    False
2  False     True    False

In [ ]:
df['Math']>90

0     True
1    False
2    False
Name: Math, dtype: bool

In [ ]:
df[df['Math']>90]

   Math  Phisics  Biology
0    95       88       79

In [ ]:
df[df['Phisics']>90]

   Math  Phisics  Biology
1    85       99       85
2    89       98       86

In [ ]:
df[df['Phisics']>90] ['Biology']

1    85
2    86
Name: Biology, dtype: int64

In [ ]:
df[df>90]

   Math  Phisics  Biology
0  95.0      NaN      NaN
1   NaN     99.0      NaN
2   NaN     98.0      NaN

In [ ]:
df['Total_Marks'] = df['Math']+df['Phisics']+df['Biology']
print(df)

   Math  Phisics  Biology  Total_Marks
0    95       88       79          262
1    85       99       85          269
2    89       98       86          273

In [ ]:
df['Degree'] ='CS'

In [ ]:
df

   Math  Phisics  Biology  Total_Marks Degree
0    95       88       79          262     CS
1    85       99       85          269     CS
2    89       98       86          273     CS

In [ ]:
df.drop('Total_Msrks',axis=1)

KeyError: "['Total_Msrks'] not found in axis"

In [ ]:
df.drop('Total_Msrks',axis=1,inplace=True)

KeyError: "['Total_Msrks'] not found in axis"

In [ ]:
df

   Math  Phisics  Biology  Total_Marks Degree
0    95       88       79          262     CS
1    85       99       85          269     CS
2    89       98       86          273     CS

In [ ]:
new_index = 'Komal Minal Prajol'.split()
new_index

['Komal', 'Minal', 'Prajol']

In [ ]:
df['name'] = new_index

In [ ]:
df

   Math  Phisics  Biology  Total_Marks Degree    name
0    95       88       79          262     CS   Komal
1    85       99       85          269     CS   Minal
2    89       98       86          273     CS  Prajol

In [ ]:
df.set_index('name',inplace=True)

In [ ]:
df

        Math  Phisics  Biology  Total_Marks Degree
name
Komal     95       88       79          262     CS
Minal     85       99       85          269     CS
Prajol    89       98       86          273     CS

In [ ]:
df['Komal']

KeyError: 'Komal'

In [ ]:
#How to print rows in pandas
df.loc['Komal']

Math            95
Phisics         88
Biology         79
Total_Marks    262
Degree          CS
Name: Komal, dtype: object

In [ ]:
df.iloc[0]

Math            95
Phisics         88
Biology         79
Total_Marks    262
Degree          CS
Name: Komal, dtype: object